  .btn {
    color:white;
    background-color: transparent;
    padding: 8px 20px;
    border-radius: 2px;
    border-color:transparent;
    outline: none;
    border: none;
    cursor: pointer;
  }
  

  .btn--navbar--createAccount{
    transition: all 0.01s ease-out;
    background-color: #242424;
    display: block;
    justify-content: center;
    
  }

  .btn--navbar--login{
    transition: all 0.01s ease-out;
  }
  
  .btn--register{
    background-color: #00FF60;
    border-radius: 0 3rem;
  }

  .btn--login{
    background-color: #00FF60;
    border-radius: 3em;
  }

  .btn--medium {
    padding: 20px;
    font-size: 16px;
    border: none;
  }
  
  .btn--large {
    padding: 20px;
    font-size: 16px;
    border: none;
  }
  
  .btn--large:hover,
  .btn--medium:hover {
    transition: all 0.01s ease-out;
    background: black;
    color: white;
    transition: 250ms;
    border: none;
    height: 70px;
  }