@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

.errorbar {
  position: fixed;
  left: 50%;
  top: 5.5%;
  transform: translate(-50%, -50%);
  z-index: 999;
  opacity: 1;
  background-color: rgb(0, 255, 96);
  color: black;
  font-weight: bolder;
  font-size: 14px;
  border-radius: 10px;
  transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  width: 288px;
  height: 48px;
  flex-grow: initial;
  min-width: 288px;
  display: flex;
  padding: 6px 16px;
  flex-grow: 1;
  flex-wrap: wrap;
  align-items: center;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  justify-content: center;
  box-sizing: inherit;
}

.Container {
  flex-direction: column;
  width: 89.5%;
  height: 900px;
  z-index: 997;
  top: 40px;
  position: relative;
  background-color: #16161b;
}

.Slider {
  position: relative;
  width: 80%;
  height: 300px;
  align-items: center;
  left: 10%;
}

.Games {
  top: 50px;
  position: relative;
  width: 100%;
  height: 700px;
  border-radius: 2px;
  background-color: #16161b;
}

.News {
  width: 140px;
  height: 50px;
  background-color: #16161b;
  border: none;
  position: relative;
  color: #f1f1f1;
  font-size: 17px;
  font-weight: 400;
  line-height: 40px;
}

.Header {
  height: 65px;
  background-color: #27272b;
  top: 0px;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 998;
}

.HeaderRightMenu {
  position: absolute;
  display: flex;
  height: 65px;
  justify-content: space-evenly;
  width: 250px;
  align-content: center;
  right: 0;
  margin-right: 140px;
}

.GameFilter {
  position: relative;
  align-items: center;
  display: flex;
  top: 50px;
  height: 55px;
  width: 100%;
  background-color: #19191f;
  color: #606060;
  font-family: Raleway;
  font-size: 21px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 23.94px;
  text-transform: uppercase;
}

.open-games {
  font-size: 20px;
  width: 200px;
  border-right: 1px solid #989aa0;
  font-family: Raleway;
}

.open-games:hover {
  color: #00f85d;
}

.private-games {
  font-size: 20px;
  width: 200px;
  font-family: Raleway;
}

.private-games:hover {
  color: #00f85d;
}

.search-game {
  position: relative;
  padding: 0;
  margin-left: 20%;
}

.search-image {
  position: absolute;
  width: 30px;
  top: 5px;
}

.search-gameID {
  height: 35px;
  margin: 0;
  padding-left: 30px;
  border: none;
  border-radius: 6px;
  font-size: 15px;
}

.search-gameID::placeholder {
  color: #9ea0a5;
}

.search-gameID:focus {
  outline: none;
}

.filter-game {
  position: relative;
  padding: 0;
  margin-left: 20px;
}

.filter-image {
  position: absolute;
  width: 20px;
  left: 8px;
  top: 8px;
}

.filter-games {
  font-family: Raleway;
  font-size: 0.8em;
  border-radius: 4px;
  margin-left: 3px;
  height: 35px;
  width: 80px;
  padding-left: 8px;
  background-color: #fff;
  color: #9ea0a5;
}

.Random {
  position: relative;
  width: 140px;
  height: 35px;
  margin-left: 30px;
  margin-right: 15px;
  box-shadow: -1px 0 17px 1px rgba(0, 0, 0, 0.5);
  background-color: #35ac45;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-family: Raleway;
  font-size: 12px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 21.96px;
  text-align: center;
  text-transform: uppercase;
  outline: none;
}

.Create {
  position: relative;
  right: 0;
  width: 140px;
  height: 35px;
  margin-right: 25px;
  box-shadow: -1px 0 17px 1px rgba(0, 0, 0, 0.5);
  background-color: #35ac45;
  border: none;
  border-radius: 6px;
  color: #fff;
  font-family: Raleway;
  font-size: 12px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 21.96px;
  text-align: center;
  text-transform: uppercase;
  outline: none;
}

.News:hover {
  background-color: #00ff60;
  color: #000000;
}

.img1 {
  position: relative;
  width: 100%;
  height: 100%;
  top: 20px;
}

.LogoLink {
  outline: none;
  width: fit-content;
  height: fit-content;
}

.dashboard-logo {
  position: absolute;
  top: 6px;
  left: 25px;
  width: 239px;
  height: 64px;
}

.avatar {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 10px;
  right: 250px;
  border-radius: 50px;
  border: 3px solid #00ff60;
}

.arrow-menu {
  top: 20px;
  right: 80px;
  position: absolute;
}

.Nickname {
  color: #f1f1f1;
  font-size: 17px;
  font-weight: 400;
  line-height: 40px;
  right: 0;
  position: absolute;
  right: 160px;
  margin-top: 12px;
}

.GameRoomHeader {
  position: relative;
  align-items: center;
  display: flex;
  top: 0;
  height: 45px;
  width: 100%;
  background-color: #19191f;
  float: right;
  color: #606060;
  font-family: Raleway;
  font-size: 21px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 23.94px;
  text-transform: uppercase;
  float: left;
  border-top: 1px solid white;
}

.GRHeaderColumn {
  width: 10%;
  text-align: center;
}

.MenuBar {
  width: 180px;
  height: 1200px;
  position: absolute;
  top: 65px;
  left: 0px;
  align-self: flex-start;
  justify-self: flex-start;
  background-color: #27272b;
  z-index: 999;
}

.menubar-user {
  text-align: center;
  margin-top: 20px;
}

.balance-button {
  cursor: pointer;
}

.menubar-userpic img {
  float: none;
  margin: 0 auto;
  width: 5em;
  height: 5em;
  border: 1px solid;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
  border-color: #00ff60;
}

.menubar-nickname {
  text-align: center;
  color: white;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.menubar-mail {
  text-align: center;
  text-transform: lowercase;
  color: #989aa0;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.balance {
  color: white;
  font-size: 15px;
  margin-bottom: 5px;
  border-bottom: 1px outset white;
  padding-bottom: 10px;
}

.balance-button {
  cursor: pointer;
}

.menubar-icon {
  height: 15px;
  margin-right: 5px;
}

.menubar-buttons {
  display: flex;
  width: 100%;
  justify-content: center;
}

button {
  background: transparent;
  color: white;
  border: 0;
  padding: 3px 6px;
  outline: none;
}

.account-buttons{
  background: transparent;
  color: white;
  border: 0;
  padding: 25px;
  outline: none;
}

.account-buttons:hover{
  color: #00f85d;
}

.btn-container {
  padding: 1px 8px;
}

.up {
  font-weight: bold;
  color: #00ff60;
}

.btn-container:not(:last-child) {
  border-right: 1px solid #989aa0;
}

.SocialBar {
  background-color: #27272b;
  z-index: 999;
  width: 160px;
  height: 1200px;
  position: absolute;
  top: 65px;
  right: 0;
}

.AddGame {
  width: 100%;
  height: 50px;
  background-color: #16161b;
  border: none;
  position: relative;
  color: #f1f1f1;
  font-size: 17px;
  font-weight: 400;
  line-height: 40px;
  margin-top: 10px;
}

.AddGame:hover {
  background-color: #00ff60;
  color: #000000;
}

.return-button {
  position: relative;
  right: 0;
  width: 140px;
  height: 35px;
  margin-right: 25px;
  box-shadow: -1px 0 17px 1px rgba(0, 0, 0, 0.5);
  background-color: #35ac45;
  border: none;
  border-radius: 6px;
  color: #fff;
  font-family: Raleway;
  font-size: 12px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 21.96px;
  text-align: center;
  text-transform: uppercase;
  outline: none;
}

.bottom-left{
  margin-top: 550px;
  height: fit-content;
  width: 100%;
}

.support-container{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.bottom-left-text{
  position: relative;
  color:#fff;
  font-weight: bolder;
  margin-left: 10px;
}

.support{
  height: 25px;
  margin-left: -52.5px;
}

.legal-conditions-container{
  margin-top: 10px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.legal-conditions{
  height: 25px;
}

.discord-container{
  margin-top: 20px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  background-color: #27272b;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin-left: 25%;
  z-index: 9999;
  position: relative;
}

.discord-logo{
  height: 50px;
}

.language-container{  
  position: relative;
  background-color: #000000;
  margin-top: -25px;
  height: 155px;
  justify-content: center;
  align-items: center;
  display: grid;
}

.language{
  margin-top: 20%;
  margin-left: 5%;
}

.copyright{
  margin-top: 25%;
  color: #fff;
  margin-left: 15%;
}

.header-user{
  height: 65px;
  width: 100px;
  display: flex;
  flex-flow: row wrap;
  align-content: space-evenly;
  justify-content: center;
  align-items: center;
}
.img-responsive-header {
  float: none;
  margin: 0% auto;
  width: 20px;
  height: 20px;
  border: 1px solid;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
  border-color: #00ff60;
}

.header-nickname {
  text-align: center;
  color: white;
  font-size: 16px;
}

.shop{
  height: 65px;
  position: absolute;
  left: 500px;
  z-index: 998;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.shopping-cart-img{
  height: 25px;
  width: 25px;
  margin-right: 10px;
}

.shop-text{
  color: #9ea0a5;
  font-size: 16px;
  font-weight: bolder;
}

.logout-icon{
  height: 25px;
}

.account-settings-button:hover{
  cursor: pointer;
}

@media only screen and (min-width: 1680px) {
  .Container {
    width: 80%;
    margin-left: 200px;
    margin-top: 40px;
  }
}

@media only screen and (max-width: 1680px) and (min-width: 1500px) {
  .Container {
    width: 80%;
    margin-left: 170px;
    right: 5px;
    margin-top: 50px;
  }

  .MenuBar {
    width: 150px;
  }

  .SocialBar {
    width: 150px;
  }
}

@media only screen and (max-width: 1500px) and (min-width: 1280px) {
  .Container {
    width: 77%;
    margin-left: 170px;
    right: 5px;
    margin-top: 50px;
  }

  .MenuBar {
    width: 150px;
  }

  .SocialBar {
    width: 150px;
  }
}
