.GamesList{
    display: flex;
    position: absolute;
    width: 800px;
    height: auto;
    top:10%;
    justify-content: center;
    align-content: center;
    left:15%;
    border-radius: 12px;
    z-index: 1200;
    box-shadow: 0 0 0 9999px rgba(0,0,0,0.5);
    background: #0b0b0b;
    color: white;
    border:transparent;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
}

.cards .card:after
{
  position: absolute;
}

.cards .card {
  position: relative;
}

.cards{
  display: flex;
}

body {
  background: #24282f;
  font-family: 'Alegreya Sans';
}
.wrapper {
  padding: 15px;
}
.card {
  flex-flow: row wrap;
}
.cards .card {
  margin: 20px;
  width: 180px;
  height: 270px;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0,0,0,0.8);
  transform-origin: center top;
  transform-style: preserve-3d;
  transform: translateZ(0);
  transition: 0.3s;
}
.cards .card img{
  max-height: 100%;
  width: 100%;
}

.cards .card:after {
  content: '';
  z-index: 10;
  width: 200%;
  height: 100%;
  top: -90%;
  left: -20px;
  opacity: 0.1;
  transform: rotate(45deg);
  background: linear-gradient(to top, transparent, #fff 15%, rgba(255,255,255,0.5));
  transition: 0.3s;
}
.cards .card:hover,
.cards .card:focus,
.cards .card:active {
  box-shadow: 0 8px 16px 3px rgba(0,0,0,0.6);
  transform: translateY(-3px) scale(1.05) rotateX(15deg);
}
.cards .card:hover figcaption,
.cards .card:focus figcaption,
.cards .card:active figcaption {
  transform: none;
}
.cards .card:hover:after,
.cards .card:focus:after,
.cards .card:active:after {
  transform: rotate(25deg);
  top: -40%;
  opacity: 0.15;
}



@media (max-width: 1080px){
	.image{
		flex: 100%;
		max-width: 480px;
	}
}

@media (max-width: 400px){
	.image .details p{
		font-size: 16px;
	}
}                  
                           
  @media only screen and (max-width: 1200px) {
  
  }
  
  @media only screen and (max-width: 1680px) {
    .GamesList{
      left: 25%;
    }
  }
  
  @media only screen and (min-width: 1680px) {
    .GamesList{
      left: 25%;
    }
  }

  @media only screen and (max-width: 1536px) {
    .GamesList{
      left: 25%;
    }
  }
  