@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

.GameRowContainer{
    height: auto;
    position: relative;
    border: 0.5px solid green;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    height: 59px;
}

td{
    /* Text Styles */
    color: white;
    position: relative;
    font-family: Raleway;
    font-size: 17px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 27.14px;
    text-transform: uppercase;
}

.GameRowButton{
    border: none;
    height: 59px;
    width: 155px;
    background-color: #272730;
    color: #00ff60;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 12px;
    font-style: normal;
    letter-spacing: normal;
    line-height: 40px;
    text-align: center;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    position: relative;
    float: right;
}

.GameRowButton:hover{background-color: #383838;
}

.minikLogo{
    position: relative;
    top:-30px;
    height: 100px;
    align-items: center;
}

@media only screen and (max-width: 1200px) {
    .GameRowContainer {
        float: left;
    }
  }

@media only screen and (max-width: 1680px) {
    .GameRowContainer {
        height: 60px;
        width: 78%;
        float: right;
    }
    td{ 
    }
  }

@media only screen and (min-width: 1680px) {
    .GameRowContainer {
        float: right;
        width: 78%;
        height: 60px;
    }
    td{
        /* Text Styles */
        width: 159px;
        position: relative;
    }
  }