.MyAccount {
  display: flex;
  flex-flow: column nowrap;
  position: fixed;
  width: 800px;
  height: 400px;
  top: 20%;
  border-radius: 12px;
  z-index: 1000;
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
  background: #0b0b0b;
  color: white;
  justify-content: center;
  align-items: center;
}

.test {
  width: 90%;
}

.image-label-dist {
  margin-bottom: 5px !important;
}

.label-text {
  color: #0ab740 !important;
}

.account-emailbox {
  border: none;

  background-color: transparent;
  width: 50%;
  height: 50%;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
}
.account-usernamebox {
  border: none;
  background-color: transparent;
  width: 50%;
  height: 50%;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
}
.myaccount-labels {
  font-size: 14px;
}

.myaccount-button {
  font-size: 14px;
  width: 100px;
  height: 30px;
  margin-left: 5%;
  color: #fff;
  background-color: black;
  border: 2px solid #0ab740;
  border-radius: 8px;
}
.myaccount-button:hover {
  background-color: darkgreen;
  color: white;
  border-color: #0ab740;
}

.ui.segment {
  background-color: rgb(11, 11, 11) !important;
}

.ui.fade.animated.button .hidden.content {
  color: #0ab740 !important;
  background-color: rgba(0, 0, 0, 0) !important;
}

.ui.green.segment:not(.inverted) {
  border: none !important;
}

.ui.fluid.button {
  color: #0ab740;
  background-color: rgba(0, 0, 0, 0);
}
.ui.fade.animated.button .hidden.content {
  color: #0ab740;
  background-color: rgba(0, 0, 0, 0);
}

.ui .wallet-button{
  color: #000;
  background: #00ff60;
  border: 2px solid #00ff60;
  border-radius: 8px;
  width: 100px;
  font-weight: bold;
}

.ui .wallet-button:hover{
  background-color: #00ff60;
}

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 1680px) {
  .MyAccount {
    left: 25%;
  }
}

@media only screen and (min-width: 1680px) {
  .MyAccount {
    left: 560px;
  }
}
