.MyAccount{
  box-sizing:border-box;
  display: flex;
  position: absolute;
  width: 800px;
  height: 400px;
  top:0;
  justify-content: center;
  align-content: center;
  left:15%;
  background: white;
  border-radius: 12px;
  z-index: 3;
  box-shadow: 0 0 0 9999px rgba(0,0,0,0.5);
  background: #0b0b0b;
  color: white;
}
