.MyAccount{
  display: flex;
  position: absolute;
  width: 800px;
  height: 400px;
  top:10%;
  justify-content: center;
  align-content: center;
  left:15%;
  border-radius: 12px;
  z-index: 1200;
  box-shadow: 0 0 0 9999px rgba(0,0,0,0.5);
  background: #0b0b0b;
  color: white;
  border: 1px solid green;
}


@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 1680px) {
  .MyAccount{
    left: 25%;
  }
}

@media only screen and (min-width: 1680px) {
  .MyAccount{
    left: 25%;
  }
}
