/*İçeriklerin cssi*/
.otp-modal {
  color: #fff;
  box-sizing: border-box;
  font-size: 14px;
  margin: 12% 14%;
  position: flex;
  line-height: 1.5715;
  display: block;
  justify-content: center;
}
/*Popupın cssi*/
.otp-window {
  box-sizing: border-box;
  position: absolute;
  width: 300px;
  height: fit-content;
  top: 250px;
  left: 40%;
  background: #0b0b0b;
  border-radius: 12px;
  z-index: 5;
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
}

.row {
  font-size: 12px;
  text-align: center;
}

.otp-info {
  width: max-content;
}

.otp-entered {
  color: #00ff60;
}

.otp-field {
  text-align: center;
  background-color: #0b0b0b;
  color: #00ff60;
  outline: none;
  line-height: 20px;
  margin-left: 20px;
}
.otp-field input {
  line-height: 21px;
  width: 26px !important;
  margin: auto;
}
.clear-button {
  border: none;
  background-color: #00ff60;
  color: #000;
  border-radius: 4px;
  padding: 6px;
  margin: 6px;
}

.verify-button {
  border: none;
  background-color: #00ff60;
  color: #000;
  border-radius: 4px;
  padding: 6px;
  margin: 6px;
}
