/*Room componentinin cssi*/
.room-window {
  position: absolute;
  width: 100%;
  height: 600px;
  top: 65px;
  background: #16161b;
  z-index: 3000;
  margin: 0 auto;
}

.room-div {
  position: absolute;
  float: left;
  width: 100%;
  padding: 5px;
}

/*Bütün componentlerin yer aldığı divin cssi*/
.components {
  position: relative;
  color: #fff;
  font-size: 14px;
  line-height: 1.5715;
  width: 100%;
}

.CloseButton1 {
  color: #0ab74c;
  z-index: 1000;
}

.buttons-group {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  text-align: center;
}

.clear {
  clear: both;
}

.teams-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  height: 100vh;
}

.change-icon {
  float: left;
}

.change-icon:hover {
  color: #00ff60;
}

.gameDetails {
  height: fit-content;
  text-align: center;
  clear: both;
}

.game-teams {
  display: inline-flex;
  position: relative;
  float: left;
  width: fit-content;
}
.chat-holder {
  position: relative;
}

.team-1 {
  border-radius: 5px;
  border: none;
  position: relative;
  height: 300px;
  min-width: 250px;
  border: none;
  box-sizing: border-box;
}

.team-1 ul {
  background-color: transparent;
  padding-left: 0px;
  list-style: none;
  height: fit-content;
}

.team-1 ul li {
  border: none;
  color: #fff;
  background-color: #000;
  width: 100%;
  margin-top: 0px;
  border-left: none;
  border-right: none;
  border-bottom: none;
  text-align: center;
}

.team-1 ul li:last-child {
  border-bottom: none;
  width: 100%;
  margin-top: 5px;
}

.report-icon {
  margin-top: -30px;
  float: left;
  cursor: pointer;
  height: 10px;
}

.report-icon:hover {
  color: #00ff60;
}

.team-user {
  text-align: center;
  color: white;
  font-weight: bolder;
}

.team-user:hover {
  color: #35ac45;
  cursor: crosshair;
}

.host-status {
  color: #00ff60;
  text-align: left;
}

.ready-status {
  font-weight: bolder;
  text-align: center;
  color: #35ac45;
}

.detail-and-button-container {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  height: fit-content;
}

.map-photo {
  border: 1px solid pink;
  height: 225px;
  width: 360px;
  margin-top: auto;
}

.map {
  height: 100%;
  width: 100%;
}
.team-2 {
  border-radius: 5px;
  border: none;
  position: relative;
  height: 300px;
  min-width: 250px;
  border: none;
  box-sizing: border-box;
}

.team-2 ul {
  background-color: transparent;
  padding-left: 0px;
  list-style: none;
  height: fit-content;
}

.team-2 ul li {
  border: none;
  color: #fff;
  background-color: #000;
  width: 100%;
  margin-top: 0px;
  border-left: none;
  border-right: none;
  border-bottom: none;
  text-align: center;
}
.team-2 ul li:last-child {
  border-bottom: none;
  width: 100%;
  margin-top: 5px;
}

.kick-icon {
  /* margin-top: -27.5px;
  margin-right: 5px;
  float: right;
  cursor: pointer;
  height: 10px; */
  position: absolute;
  top: 35px;
  right: 0;
}

.kick-icon:hover {
  color: red !important;
}

.team-buttons {
  width: 100%;
  background-color: transparent;
  color: #fff;
  text-align: center;
  border-bottom: 1px groove gray;
  cursor: pointer;
  pointer-events: 'none';
}

.gameDetails {
  color: #00ff60;
  font-size: 12px;
  width: 100%;
  margin-top: 10px;
}

.gameDetails div {
  align-self: center;
  color: #fff;
  font-size: 12px;
  margin: 5px auto;
}

.connect{
  display: flex;
  flex-flow: row wrap;
  height: 30px;
  width: 30px;
  color: white;
}
.chat {
  border: 1px solid green;
  width: 100%;
  min-height: 250px;
  position: relative;
  border-radius: 5px;
}

.chat-field {
  width: 100%;
  height: 400px;
  overflow-x: hidden;
  overflow-y: scroll;
  display: inline-block;
}

.chat-message {
  color: #fff;
  clear: both;
  width: 100%;
  float: left;
  margin: 3px 0px 3px 3px;
}

.chat-input {
  background-color: #000;
  color: #fff;
  float: left;
  position: relative;
  width: 80%;
}

.chat-send {
  background-color: #35ac45;
  border-color: #35ac45;
  float: right;
  width: 20%;
}

.ready-button {
  color: #000;
  background-color: #00ff60;
  border-radius: 8px;
  padding: 5px 20px;
  margin: 5px 0px;
}

.chat-utils {
  position: relative;
}

.ready-button-start-disabled {
  color: #000;
  background-color: #00ff623d;
  border-radius: 8px;
  padding: 5px 20px;
  margin: 5px 0px;
  cursor: not-allowed;
}

.sure-window {
  color: white;
  display: grid;
  border: 1px solid #00ff60;
  height: 100px;
  width: fit-content;
  margin: 0 auto;
  background-color: #0b0b00;
}

.sure-text {
  margin: 0 auto;
  height: fit-content;
  width: fit-content;
}

.sure-buttons {
  border: none;
  background-color: #0ab74c;
  border-radius: 10px;
  margin: 0 60px;
  align-self: center;
}

@media screen and (max-width: 1420px) {
  .map-photo {
    height: 188px;
    width: 300px;
  }
}
@media screen and (max-width: 1600px) {
  .teams-container {
    margin-left: 100px;
  }
  .game-teams {
    display: inline-flex;
    margin-left: 16%;
    margin-top: 10px;
  }
  .chat-holder {
    margin-bottom: 50px;
    height: auto;
  }
  .chat-field {
    display: inline-block;
    height: 400px;
  }

  .team-1 {
    width: 100%;
    float: left;
  }
  .detail-and-button-container {
    width: 100%;
    float: left;
  }
  .team-2 {
    width: 100%;
    float: left;
  }
}
@media screen and (max-width: 1144px) {
  .game-teams {
    margin-left: 100px;
  }
  .room-div {
    width: 83%;
    height: fit-content;
    margin-left: 150px;
  }
  .chat-holder {
    margin-left: 2%;
  }

  .chat-field {
    display: inline-block;
    height: 400px;
  }

  .team-1 {
    width: 100%;
    float: left;
  }
  .detail-and-button-container {
    width: 100%;
    float: left;
  }
  .team-2 {
    width: 100%;
    float: left;
  }
}

@media only screen and (min-width: 1680px) and (max-width:1919px) {
  .room-window {
    width: 83%;
    height: fit-content;
    margin-left: 180px;
  }
  .room-div {
    width: 83%;
    margin-left: 180px;
  }
  .chat-holder {
    margin-left: 2%;
  }
  .chat-field {
    display: inline-block;
    height: 40vh;
  }
  .game-teams {
    margin-left: -10vh;
  }
  .team-1 {
    width: 100%;
    float: left;
  }
  .detail-and-button-container {
    width: 100%;
    float: left;
  }
  .team-2 {
    width: 100%;
    float: left;
  }
}

@media only screen and (max-width: 1680px) and (min-width: 1500px) {
  .room-window {
    width: 82%;
    height: fit-content;
    margin-left: 150px;
  }
  .room-div {
    width: 83%;
    margin-left: 150px;
  }
  .chat-holder {
    margin-left: 2%;
  }
  .chat-field {
    display: inline-block;
    height: 40vh;
  }
  .team-1 {
    width: 100%;
    float: left;
  }
  .detail-and-button-container {
    width: 100%;
    float: left;
  }
  .team-2 {
    width: 100%;
    float: left;
  }
}

@media only screen and (max-width: 1500px) and (min-width: 1280px) {
  .room-window {
    width: 79%;
    height: fit-content;
    margin-left: 150px;
  }
  .room-div {
    width: 83%;
    margin-left: 150px;
  }
  .chat-holder {
    margin-left: 2%;
  }

  .chat-field {
    display: inline-block;
    height: 40vh;
  }
  .team-1 {
    width: 100%;
    float: left;
  }
  .detail-and-button-container {
    width: 100%;
    float: left;
  }
  .team-2 {
    width: 100%;
    float: left;
  }
}
