.WalletPageContainer {
  width: 100%;
  height: 100%;
  background-color: #16161b;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin-top: 200px;
}

.user-coin-infobox {
  height: 200px;
  width: 200px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-left: 125px;
  background-color: #000;
  box-sizing: border-box;
}

.user-coin-convertion-info {
  color: #35ab35;
  font-size: 14px;
  font-weight: bolder;
  border-bottom: 1px groove #35ab35;
  height: fit-content;
  width: fit-content;
  text-align: center;
}

.user-coin-convertion {
  color: white;
  font-size: 14px;
  font-weight: bolder;
}

.bank-accounts {
  height: fit-content;
  width: 500px;
  display: flex;
  flex-flow: row wrap;
  margin-left: -280px;
  margin-top: 50px;
  box-sizing: border-box;
}

.bank-accounts li {
  list-style: none;
  width: 100%;
  height: 100%;
}

.bank-accounts-header {
  color: #35ab35;
  font-size: 14px;
  font-weight: bolder;
  height: fit-content;
  width: 100%;
  text-align: center;
}

.bank-content {
  display: flex;
  margin-top: 50px;
  width: 100%;
  flex-flow: column nowrap;
}

.bank-button:not(:last-child) {
  text-align: center;
  /*border-bottom: 0.1px solid #fff;*/
  padding: 10px;
  background-color: #000;
  margin-top: 2px;
}

.bank-button:first-child {
  text-align: center;
  /*border-top: 0.1px solid #fff;
    border-bottom: 0.1px solid #fff;*/
  padding: 10px;
}
.bank-button:last-child {
  text-align: center;
  padding: 10px;
  background-color: #000;
  margin-top: 2px;
  /* border-bottom: 0.1px solid #fff;*/
}

.bank-button:hover {
  color: #0ab74c;
  cursor: pointer;
}
.bank-button:hover:last-child {
  color: #0ab74c;
  cursor: pointer;
}

.transaction-history {
  height: fit-content;
  width: 50%;
  display: flex;
  flex-flow: column nowrap;
  list-style: none;
  justify-self: center;
  align-self: center;
  margin-left: 2%;
  margin-top: -40%;
}

.transaction-history-header {
  color: #35ab35;
  font-size: 14px;
  font-weight: bolder;
  border-bottom: 1px groove #35ab35;
  height: fit-content;
  width: 100%;
  text-align: center;
}

.transaction-content {
  height: 20px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
  /*border-bottom: 1px solid white;*/
}

.transaction-content:first-child {
  height: 20px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  /* border-bottom: 1px solid white;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;*/
  margin-top: 20px;
}
.transaction-content:not(:last-child) {
  height: 20px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  /*border-left: 1px solid white;
    border-right: 1px solid white;*/
}

.transaction-content:last-child {
  height: 20px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  /*border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;*/
}

.transaction-type {
  height: fit-content;
  width: 20%;
  color: #0ab74c;
  text-align: center;
  background: #000;
}

.transaction-info {
  color: #fff;
  margin-left: 2px;
  width: 78%;
  text-align: center;
  height: fit-content;
  background-color: #000;
}

.transaction-history-button {
  position: relative;
  display: flex;
  color: #000;
  background-color: #00ff60;
  font-size: 1em;
  justify-self: center;
  align-self: center;
  padding: 0.75em;
  border: 2px solid #00ff60;
  border-radius: 8px;
  width: 100px;
  height: fit-content;
  font-weight: bold;
  margin: 0;
  top: 41%;
  left: 47.5%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.up-coin-deposit {
  height: 200px;
  width: 200px;
  display: flex;
  flex-flow: row wrap;
  margin-top: 50px;
  margin-left: -275px;
  background-color: #000;
  padding: 5px;
  box-sizing: border-box;
}

.wallet-icon {
  align-self: center;
  height: 20px;
  width: 20px;
}

.convertion {
  color: #0ab74c;
  width: 200px;
  height: fit-content;
  text-align: center;
}

.payment-warning {
  color: white;
  height: fit-content;
  width: fit-content;
  margin-left: 30px;
  margin-top: -45px;
}

.deposit-button {
  color: #000;
  background-color: #00ff60;
  font-size: 1em;
  margin-top: 1.5em;
  padding: 0.75em;
  border: 2px solid #00ff60;
  border-radius: 8px;
  width: 100px;
  height: fit-content;
  margin: 0;
  -ms-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
  font-weight: bold;
}

.deposit-button:hover {
  cursor: pointer;
}

.up-coin-withdraw {
  margin-top: 50px;
  height: fit-content;
  width: 200px;
  border: 1px solid white;
  display: flex;
  flex-flow: column wrap;
}

.withdraw-content {
  display: flex;
  width: 100%;
  flex-flow: column nowrap;
}

.dropdown-content-1 {
  display: flex;
  flex-flow: row wrap;
  height: fit-content;
  background-color: #000;
  margin-top: 2px;
  box-sizing: border-box;
}

.balance-text {
  margin-top: 5px;
  color: white;
  width: 500px;
  text-align: center;
}

.balance-text-balance {
  color: #35ab35;
}

.dropdown-btn {
  color: #000;
  background-color: #00ff60;
  border: 2px solid #00ff60;
  border-radius: 8px;
  width: 100px;
  -ms-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
  font-weight: bold;
  margin-bottom: 20px;
  margin-left: 30%;
}

.deneme {
  color: #000;
  background-color: #00ff60;
  border: 2px solid #00ff60;
  border-radius: 8px;
  width: fit-content;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 50%;
  height: fit-content;
}

.back-button-div {
  width: fit-content;
  height: fit-content;
  margin-left: -98%;
  margin-top: 10px;
}

.back-button {
  height: 30px;
  width: auto;
}

@media screen and (max-width: 1420px) {
  @media screen and (max-width: 1600px) {
    @media screen and (max-width: 1144px) {
      @media only screen and (min-width: 1680px) and (max-width: 1919px) {
      }

      @media only screen and (max-width: 1680px) and (min-width: 1500px) {
      }

      @media only screen and (max-width: 1500px) and (min-width: 1280px) {
      }
    }
  }
}
