.WalletPageContainer {
  color: white;
  border: 2px solid red;
  margin-top: 300px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.bank-accounts-header {
  color: #35ab35;
  font-size: 14px;
}

/* -------------------------------- COIN BOX -------------------------------- */
.user-coin-infobox {
  height: 200px;
  width: 200px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-left: 125px;
  background-color: #000;
  box-sizing: border-box;
  border: 2px solid green;
}

/* ------------------------------- BACK BUTON ------------------------------- */
.back-button-div {
  margin: 10px;
}
.back-button {
  height: 30px;
  width: auto;
}

/* ------------------------------ BANK ACCOUNTS ----------------------------- */

.bank-accounts {
  height: fit-content;
  width: 500px;
  display: flex;
  flex-flow: row wrap;
  padding: 15px;
  margin-top: 50px;
  box-sizing: border-box;
  border: 2px solid orange;
}

/* --------------------------------- DEPOSIT -------------------------------- */

.up-coin-deposit {
  height: 200px;
  width: 200px;
  display: flex;
  flex-flow: row wrap;
  margin-top: 50px;
  background-color: #000;
  padding: 5px;
  box-sizing: border-box;
  border: 2px solid pink;
}

/* --------------------------- TRANSACTION HISTORY -------------------------- */

.transaction-history {
  height: fit-content;
  width: 50%;
  display: flex;
  flex-flow: column nowrap;
  list-style: none;
  justify-self: center;
  align-self: center;
  margin-left: 2%;
  border: 2px solid aqua;
}
