@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

.GameRowContainer{
    width: 100%;
    font-family: 'proxima-nova-semibold';
    font-weight: 600;
    font-size: 17px;
    line-height: 27.14px;
    text-align: center;
    color: white;
    height: 59px;
}

td{
    /* Text Styles */
    width: 140px;
}

.GameRowButton{
    border: none;
    width: 155px;
    height: 59px;
    background-color: #272730;
    color: #00ff60;
    font-family: 'Raleway';
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 40px;
    text-align: center;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}

.GameRowButton:hover{background-color: #383838;
}

.minikLogo{
    height: 120px;
    vertical-align: middle;
}