@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

tr{
    width: 1379px;
    height: 83px;
    background-color: #19191f;
}

td{
    /*Row Styles*/
    padding: 40px;
    color: white;
    width: 1361px;
    height: 59px;
    background-color: #19191f;
    /* Text Styles */
    width: 97px;
    height: 16px;
    color: #f1f1f1;
    font-family: 'proxima-nova-semibold';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    font-style: normal;
    letter-spacing: normal;
    line-height: 27.14px;
    text-align: left;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}

button{
    width: 155px;
    height: 59px;
    background-color: #272730;
    color: #00ff60;
    font-family: 'Raleway';
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 40px;
    text-align: center;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}

.minikLogo{
    height: 120px;
    vertical-align: middle;
}